Neon Postgres
DATABASE_URL=postgresql://neondb_owner:


AUTH_SECRET=qwert1234567890

# OpenAI
OPENAI_API_KEY=sk-proj-y_moscn7HPsJtfLjUENYPvqm

# ElevenLabs
ELEVENLABS_API_KEY=sk_ff3f187ce26b73a76f3b36971fecabe474cf43a4bb6fa6f0

# Custom voices for EN/RU
ELEVEN_VOICE_ID_EN=9BWtsMINqrJLrRacOk9x
ELEVEN_VOICE_ID_RU=ymDCYd8puC7gYjxIamPt
